/**************************** Footer******************************** */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Main-2{
    background-color: #1f4d9e;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
}
/* .Main-2{
    display: flex;
    background-color: royalblue;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    position: absolute;
} */
.Contact{
    display: flex;
    background-color: red;
    align-items: center;
    width: 100%;
    position: relative;
}
.MA{
    background-color: seagreen;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.MB{
    background-color: skyblue;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.MC{
    background-color: rgb(207, 135, 235);
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Bottom{
    display: flex;
    background-color: saddlebrown;
    height: 20%;
    width: 100%;
    justify-content: space-evenly;
}
.BA{
    background-color: rgb(150, 70, 230);
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    
}
.BB{
    background-color: rgb(127, 194, 64);
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}
.BC{
    background-color: rgb(9, 0, 12);
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}


