body{
	background-color: #f8f8f8;
}
.main{
	width: 100%;
	height: 100%;
}
.icon0{
	width: 100%;
	height: 60px;
	border:0.4px solid white;
	background-color: #f8f8f8;
}
.icon1{
	margin-left: 160px;
	margin-top: -15px;
}
.menu ul{
	list-style-type: none;
}
.menu ul li{
	display: inline-block;
	padding: 6px;
	font-size: 20px;
}
.menu{
	width: 840px;
    height: 50px;
   /* margin-left: 500px;
    margin-top: -113px;*/
    margin-left: 210px;
    margin-top: -121px;
    top: 0px;
    bottom: 0PX;
    left: 0px;
    right: 0px;
}
.menu ul li:active a{
	color: white;
	border:0.5px solid #32343a;
	background-color: #32343a;
	border-radius: 10px;
}
a:hover{
	text-decoration: none;
}
.bar-info{
	width: 100%;
	height: 30px;
	border:0.3px solid #c1c1c1;
	background-color:#c1c1c1;
	font-size: 18px;
	margin-top: -36PX;
}
.carousel-inner>.item>img{
    display: block;
    width: 100%;
    height: 500px;
}
.direction{
	width: 402px;
	height: 432px;
	border:1px solid #c1c1c1;
	float: right;
}
.head{
	border:1px solid #c1c1c1;
	width: 400px;
	height: 30px;
}
table,td,th{
	border:1px solid #c1c1c1;
	border-collapse: collapse;
}
table{
	width:800px;
	margin-left: 30px;
}
tr th{
	width: 300px;
	height: 50px;
	text-align: center;
	font-size: 18px;
	background-color: grey;
}
tr td{
	font-size:16px;
	text-align: center;
	height: 40px; 
}
.button{
	width: 100%;
	border:0.5px solid green;
	background-color: green;
	color: white;
	height: 30px;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
}
.weather{
	margin-left: 942px;
	margin-top: 0px;
}
.block4{
	color: white;
	background-color:#32343a;
	border:0.3px solid #32343a;
	width: 100%;
	height: 280px;
	font-size:16px;
	margin-top: 136px;
}
@media(min-width: 1200px)
	.container
	{
		width:1170px;
	}
@media(min-width: 992px)
	.container
	{
		width:970px;
	}
@media(min-width: 768px)
	.col-sm-6
	{
		width:50%;
	}
#footer{
	background-color: #32343a;
	color: #fff;
	padding:20px 0 10px 0;
}
#footer p{
	text-align: justify;
}
.pull-right{
	float: right;
}
a{
	color:#337ab7;
	text-decoration: none;
	background-color: transparent;
}
.fa{
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing:antialiased;
}
.block5{
	background-color: #32343a;
	border:0.6px solid silver;
	width: 100%;
	height: 50px;
	color: white;
	font-size:16px;
}
#move_top{
		position: fixed;
	    bottom: 20px;
	    right: 20px;
	    background: rgb(0, 0, 0);
	    background: rgba(0, 0, 0, 0.7);
	    width: 50px;
	    height: 50px;
	    display: block;
	    text-decoration: none;
	    -webkit-border-radius: 35px;
	    -moz-border-radius: 35px;
	    border-radius: 35px;
	    display: none;
	    -webkit-transition: all 0.3s linear;
	    -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	}
	#move_top i{
		color: #fff;
	    margin: 0;
	    position: relative;
	    left: 16px;
	    top: 13px;
	    font-size: 19px;
	    -webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	}
	#move_top:hover{
		background-color: rgba(0,0,0,0.9);
	}
	#move_top:hover i{
		color: #fff;
		top: 5px;
	}
#footer .list-inline li a{
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	display: block;
	text-align: center;
	border:1px solid #2c85a6;
	border-radius: 100%;
	color: #2F82FD;
}
#footer .list-inline li a{
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	display: block;
	text-align: center;
	border:1px solid #2c85a6;
	border-radius: 100%;
	color: #2F82FD;
}
.list-inline li a:hover{
	background-color: white;
}
.block4 .quicklinks a{
	color:white;
}
.block4 .quicklinks a:hover{
	color: green;
}