.mainBox{
	width: 100%;
	height: 100%;
}
.mainBox2{
    width: 100%;
    height: 100%;
}
.heading{
	        display: inline-block;
    color: white;
    margin: 0px 0px 0px 40px;
    font-family: "Arial Black";
    font-size: 48px;
    letter-spacing: 10px;
}
.t1{

       display: block;
    margin: 10px 0px 6px 244px;
    width: 934px;
    height: 55px;
    position: relative;
}
.t2{
        width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
    background-color: #92949a3b;
}
.creditBox{
	    display: block;
    margin: 0px 0px -126px 355px;
    width: 622px;
    height: 581px;
    position: relative;
}
.child1{	
	width:100%;
	height: 100%;
	position: absolute;
	opacity: 0.3;
	background-color: #92949a3b;
}
.child2{	
	width:100%;
	height: 100%;
	position: absolute;
}

.label{
	    display: inline-block;
    margin: 17px 0px 0px 48px;
    color: white;
    font-family: "Cambria (Headings)" Aharoni;
    font-weight: bold;
    font-size: 25px;
}
.whiteBorder{
	    margin: -2px 0px 0px 48px;
    width: 414px;
    border: 4px solid white;
}
.input{
	margin: 0px 0px 0px 0px;
	width: 407px; 
	height: 35px;
	padding-left: 10px;
	font-size: 18px; 
	font-weight: bold;
	background-color: transparent;
}
.input2{
    width: 22px; 
    height: 17px;
    font-size: 18px; 
    font-weight: bold;
    background-color: transparent;
    outline: none;
}
.checkbox{
       margin: 13px 0px -10px 85px;
}
.whiteBordre2{
	    margin: 20px 0px 0px 48px;
    padding: 0px;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 3px solid white;
    border-top: 3px solid white;
    width: 412px;
}
.submit{
	 padding: 0px;
    width: 406px;
    height: 45px;
    background-color: #d2810b;
    color: white;
    text-align: center;
}
.whiteBordre3{
	margin: 18px 0px 0px 48px;
    padding: 0px;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 3px solid white;
    border-top: 3px solid white;
    width: 412px;
}
.submit2{
	 padding: 0px;
    width: 406px;
    height: 45px;
    background-color: #3a5897;
    color: white;
    text-align: center;
}
.bottomText1{
	margin: 35px 0px 0px 402px;
    display: inline-block;
    color: white;
    font-size: 20px;
    padding-right: 15px;
}
.bottomText2{
     display: inline-block;
    color: white;
    margin-left: 380px;
    margin-top: 12px;
    font-size: 20px;
}
.bottomText4{
     margin: -7px 0px 0px 416px;
    position: absolute;
    top: 516px;
    left: 252px;
    display: inline-block;
    color: white;
    font-size: 20px;
    padding-right: 15px;
}
.bottomText5{
     margin: -7px 0px 0px 416px;
    position: absolute;
    top: 516px;
    left: 262px;
    display: inline-block;
    color: white;
    font-size: 20px;
    padding-right: 15px;
}
.whiteBorder input:hover{
	background-color: #92949a3b;
}
.removeBlock{
    display: none;
}
.removeBlock2{
    display: none;
}